--- 
import "../styles/global.css";

---


<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CCE</title>
    <link rel="icon" href="/favicon-test.ico" />
  </head>

  <body>
    <slot /> <!--removed navbar because it will be imported in evry page-->
  </body>
</html>