---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
---
<Navbar />
<Layout>
  <div class="aurora-ribbon aurora-1"></div>
  <div class="aurora-ribbon aurora-2"></div>
  <div class="aurora-ribbon aurora-3"></div>

  <canvas id="starCanvas"></canvas>

  <div class="page-container">
    <img src="/images/homePages/image1.svg" alt="Decorative Image" class="decorative-image" />

    <section id="about">
      <div class="typing-container ">
        <span class="typing-text" id="typing-text">Welcome to Department of Computer and Communication Engineering,<br>-</span>
      </div>
      <div class="info-section content-section">
                    <p>We Specialize in</p>
                        <ul>
                            <li>Computer Communication Technologies & Telecommunications</li>
                            <li>Programme is on Computer Networks</li>
                            <li>Telecommunications technologies</li>
                        </ul>
                </div>
            </div>
        </div>

        <div class="information">
            <div class="img_info-section">
                <div class="info-section content-section">
                    <p>Program's we offer</p>
                        <ul>
                            <li>Courses in Computer Science</li>
                            <li>Cloud Computing</li>
                            <li>Multimedia Communications</li>
                            <li>Big Data Analytics</li>
                        </ul>
                </div>
                <div class="content-section-topics">
                    <div class="content-section-topic rotate-left">
                        <img src="./HomeImages/cs cources.webp" alt="Courses in Computer Science">
                    </div>
                    
                    <div class="content-section-topic rotate-left">
                        <img src="./HomeImages/multymedia.jpeg" alt="Multimedia Communications">
                    </div>
                    
                    <div class="content-section-topic rotate-left">
                        <img src="./HomeImages/cloud.jpg" alt="Cloud Computing">
                    </div>   

                    <div class="content-section-topic rotate-left">
                        <img src="./HomeImages/bigdata.jpeg" alt="Big Data Analytics">  
                    </div>                
                </div>
            </div>
        </div>


        <div class="information">
            <div class="img_info-section">
                <div class="content-section-topics">
                    <div class="content-section-topic rotate-left" id="cctt">
                        <img src="./HomeImages/cs.jpeg" alt="Computer science">
                    </div>
                    
                    <div class="content-section-topic rotate-left">
                        <img src="./HomeImages/computer networks.jpeg" alt="Communication networks">
                    </div>
                    
                    <div class="content-section-topic rotate-left">
                        <img src="./HomeImages/cyber security.jpeg" alt="Security and associated subjects">
                    </div>                
                </div>
                <div class="info-section content-section">
                    <p>We Provide Experiential learning in</p>
                        <ul>
                            <li>Security and associated subjects</li>
                            <li>Computer science</li>
                            <li>Communication networks</li>
                        </ul>
                </div>
            </div>
        </div>



        <div class="information">
            <div class="info-section content-section">
                <p>The Principal's Message</p>
                <div>
                    <p>"Genius is one percent inspiration and ninety-nine percent perspiration."</p>
                    <img src="./HomeImages/52.jpg" alt="Principal">
                </div>
                <p class="author">-Niranjan N. Chiplunkar</p>
            </div>
        </div>



        <div class="information">
            <div class="img_info-section">
                <div class="info-section content-section">
                    <p>College Mission</p>
                        <ul>
                            <li>To develop NMAM Institute of Technology, Nitte, as Center of Excellence by imparting Quality Education to generate Competent, Skilled and Humane Manpower to face emerging Scientific, Technological, Managerial and Social Challenges with Credibility, Integrity, Ethics and Social Concern</li>
                </div>
                <div class="fiftyV">
                    <div class="content-section-topic rotate-left" id="ttcc">
                        <img src="./HomeImages/nitte_logo.png" alt="nmamit Logo">
                    </div>            
                </div>
            </div>
        </div>

        <div class="information">
            <div class="img_info-section">
                <div class="fiftyV">
                    <div class="content-section-topic rotate-left" id="ttcc">
                        <img src="./HomeImages/nitte_pic1.jpeg" alt="Computer science">
                    </div>            
                </div>
                <div class="info-section content-section">
                    <p>College Vision</p>
                        <ul>
                            <li>Pursuing Excellence, Empowering people, Partnering in Community Development</li>
                        </ul>
                </div>
            </div>
        </div>
    </section>

    <section id="faculty">
      
    </section>

    <section id="labs">
      
    </section>

    <section id="contact">
    </section>

  </div>

  <script src="/stars.js" is:inline defer></script>
  
</Layout>
<Footer />
