---
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
---
<Navbar/>
  
<Layout>
  <canvas id="starCanvas"></canvas>
  <div class="Title-holders"> 
  <div class="placements-tab">
<div class="scroll-page1"><div class="scrollpageimg-1" >
<img class="scrollpage1-img" src="/images/homePages/collegeslideintro.png" />
</div></div>
<div class="slide-dots">
  <span class="dot active" data-slide="0"></span>
  <span class="dot" data-slide="1"></span>
  <span class="dot" data-slide="2"></span>
   <span class="dot" data-slide="3"></span>
  <span class="dot" data-slide="4"></span>
  <button class="button-tab1" data-click="11"  > &#8680;</button>
   <button class="button-tab" data-click="10" >&#8678;</button>
</div></div>
  </div>
<div class="acc1tabs" ></div>
<div class="yeartabs" ></div>
<div class="year1tabs" ></div>


  <style is:global >
@import url('https://fonts.googleapis.com/css2?family=BBH+Hegarty&family=Bungee+Spice&family=Merriweather:ital,opsz,wdth,wght@0,18..144,90.2,300..900;1,18..144,90.2,300..900&family=Metal+Mania&family=Oldenburg&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&family=Rubik+Doodle+Shadow&family=Rubik+Wet+Paint&family=Sekuya&family=Trade+Winds&family=Zalando+Sans+SemiExpanded:ital,wght@0,200..900;1,200..900&display=swap');
 .Title-holders {
  display: grid;
  grid-template-columns: 5.4fr 2fr;
  align-items: start;
  min-height: 100vh;
  padding-top: clamp(1rem, 4vh, 10rem);
}
.forward
{
  z-index:100;
  color:white;
  font-size:30px;
}
.slide-dots {
  position: absolute;
  bottom: 2.5rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 1rem;
  z-index: 10;
  animation:buttonhover 4s forwards;
}
.button-tab{ 
position: absolute;
z-index: 10;
left: -35%;
font-size:2rem;
border-radius:0.5rem;
border-radius:2rem;
animation:buttonhover 4s forwards;
}
.button-tab:hover{ 
  color:#C49952;
  background:black;
    box-shadow: 0 0 12px rgb(239, 236, 232);
}
.button-tab1{ 
position: absolute;
z-index: 10;
left: 110%;
font-size:2rem;
border-radius:0.5rem;
border-radius:2rem;
animation:buttonhover 4s forwards;
}
.button-tab1:hover{ 
  color:#C49952;
  background:black;
    box-shadow: 0 0 12px rgb(239, 236, 232);
}
@keyframes buttonhover
{
  0%{opacity:0;}
  100%{opacity:1;}
}
.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: rgba(255,255,255,0.35);
  cursor: pointer;
  transition: all 0.35s ease;
}
.acc222
{
  width: 3rem;
  height: 3rem;
  font-size:1.5rem;
    text-shadow: 2px 2px 8px rgba(255, 255, 255, 0.7);
   border-radius: 50%;
  background: rgba(255,255,255,1);
  cursor: pointer;
}
.acc222:nth-child(1){display:none;}
  .acc222:nth-child(2){display:none;}
.acc222:nth-child(3){position: absolute;
  top: clamp(1rem, 17vh, 18rem); left: clamp(5rem, 92vw, 100rem);}
.dot:hover {
  background: rgba(255,255,255,0.6);
  
}

.dot.active {
  width: 26px;
  border-radius: 20px;
  background: linear-gradient(
    90deg,
    #FFD88A,
    #C49952
  );
  box-shadow: 0 0 12px rgba(196,153,82,0.8);
}

.scrollpageimg-1::after {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  
}

.scroll-page1
{
  display:flex;
 justify-content: flex-start;   
  animation: fadeInScale 4s ease-out forwards;
}
.scroll-page1 .scrollpageimg-slides{
  position:absolute;
}
.scrollpage1-img
{
   position: absolute;
  top: clamp(-0.1rem, -0.10vh, 18rem);
   
}
.scrollpage1-img:nth-child(1) { opacity:1; border-radius: 6rem;  width: clamp(18rem, 57.9vw, 60rem); height: clamp(18rem, 79.5vh, 95rem);left: clamp(0.1rem, 0.1vw, 20rem);}
   .Placement-container .heading-styler {
  font-size: clamp(2.6rem, 3vw + 1.5rem, 5.5rem);
}
.acctabstext
{
    font-family: "Rubik Doodle Shadow", system-ui;
  letter-spacing: 1px;
  color: white;
  text-align: center;
  text-shadow: 2px 2px 8px rgba(255, 255, 255, 0.7);
  position: absolute; 
  left: clamp(18rem, 59.5vh, 80rem);
  width: clamp(18rem, 99.5vh, 70rem);
   height: clamp(18rem, 69.5vh, 70rem);
   top: clamp(3rem, 8.35vh, 58rem) ;
   font-size: clamp(2.4rem, 4vw, 6rem);
}
.scrollpagetext{
   position: absolute;             
  z-index: 3;
  transform: translateX(-50%);  
  left: 78%;
  width: min(65%, 48rem);
   height: clamp(18rem, 69.5vh, 70rem);
   top: clamp(-10rem, -8.35vh, 58rem) ; 
  display: flex;
  align-items: center;     
  justify-content: center;  
  padding: clamp(2rem, 4vw, 4rem);
  text-align: center;
  font-size: clamp(2.4rem, 3.9vw, 4.2rem);
   font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  color: whitesmoke;
  border-radius: 2rem;
   text-shadow:
    0 0 6px rgba(255,255,255,0.6),
    0 0 14px rgba(196,153,82,0.45);
  background: linear-gradient(
    to right,
    rgba(0,0,0,0) 0%,
    rgba(12,20,28,0.78) 22%,
    rgba(18,30,42,0.9) 70%,
    rgba(12,20,28,0.78) 78%,
    rgba(0,0,0,0) 100%
  );
  backdrop-filter: blur(5rem);
  -webkit-backdrop-filter: blur(5rem);
  box-shadow:
    inset 0 0 30px rgba(255,255,255,0.05),
    0 0 35px rgba(196,153,82,0.25);
  -webkit-mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 22%,
    black 78%,
    transparent 90%
  );
  mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 22%,
    black 78%,
    transparent 90%
  );
}
.summary
{
 position: absolute; 
   width: min(45%, 48rem);
   height: clamp(18rem, 69.5vh, 70rem);
   top: clamp(-7rem, 8.3vh, 78rem) ; 
   left: 50%;
   color:white;
    text-align: center;
  font-size: clamp(1rem, 1.345vw, 2.1rem);
}
.scrollpagetexts-highlight{
   position: absolute; 
   width: min(65%, 48rem);
   height: clamp(18rem, 69.5vh, 70rem);
   top: clamp(-7rem, -6.5vh, 78rem) ; 
   left: 20%;
   color:white;
  text-align: center;
  font-size: clamp(2.4rem, 3.5vw, 4.2rem);
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 87.5;
}
@keyframes fadeInScale {
  from {
    opacity: 0;
    
  }
  to {
    opacity: 1;
   
  }
}

   .heading-styler {
  font-family: "Rubik Doodle Shadow", system-ui;
  letter-spacing: 1px;
  color: white;
  text-align: center;
  text-shadow: 2px 2px 8px rgba(255, 255, 255, 0.7);
}

.Select-container {
  position: relative;
   margin-top: clamp(6rem, 20vh, 14rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;   
  width: clamp(14rem, 23vw, 28rem);
  padding: clamp(1.5rem, 3vw, 3rem);
  backdrop-filter: blur(2px);
  height: clamp(28rem, 74vh, 46rem);
  overflow: visible;
}

.year-list {
  display: flex;
  flex-direction: column;
  gap: clamp(1.5rem, 3vh, 3rem);
  width: 100%;
  align-items: center;
  animation:fadeInScale 4s forwards;
}

.scroll-page1 img {
  opacity: 1;
  transition: opacity 0.4s ease-in-out;
}

.scroll-page1.fade-out img {
  opacity: 0;
}
.scroll-page1 .summary{
   opacity: 1;
  transition: opacity 0.4s ease-in-out;
}
.scroll-page1.fade-out .summary {
  opacity: 0;
}
.Select-container .heading-styler {
   align-self: flex-start; 
   margin-bottom: clamp(1.5rem, 5vh, 2.5rem);
  font-size: clamp(1.2rem, 1.3vw + 0.6rem, 2.6rem);
  opacity: 0;
   position: sticky;
  top: 0;
  z-index: 5;
  background: linear-gradient(
    to bottom,
    rgba(0,0,0,0.85),
    rgba(0,0,0,0.6),
    transparent
  );
  padding-bottom: 1rem;
  transform: translateY(10px);
  animation: textLoad 0.8s ease-out forwards;
  animation-delay: 0.6s;
}
@keyframes textLoad {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.Select-container::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 5rem;
  pointer-events: none;

  border: 2px solid rgba(255,255,255,0.85);
  clip-path: inset(0 100% 0 0); /* hidden */
  animation: borderLoad 1.2s ease-out forwards;
}

@keyframes borderLoad {
  0% {
    clip-path: inset(0 100% 0 0);
    opacity: 0.3;
  }
  60% {
    opacity: 1;
  }
  100% {
    clip-path: inset(0 0 0 0);
    opacity: 1;
  }
}
.Select-container::after {
  content: "";
  position: absolute;
  inset: -4px;
  border-radius: 5rem;
  pointer-events: none;

  box-shadow: 0 0 0 rgba(255,255,255,0);
  animation: glowPulse 1.2s ease-out forwards;
}

@keyframes glowPulse {
  0% {
    box-shadow: 0 0 0 rgba(255,255,255,0);
  }
  60% {
    box-shadow: 0 0 25px rgba(255,255,255,0.5);
  }
  100% {
    box-shadow: 0 0 12px rgba(255,255,255,0.3);
  }
}


.scrollpageimg-slides
{
 border-radius: 3rem;
   width: clamp(10rem, 24vw, 60rem) !important;
    height: clamp(18rem, 48vh, 95rem);
    left: clamp(2rem, 3vw, 50rem);
    top:clamp(5rem, 5vw, 50rem);
     box-shadow: 0 0 12px rgb(239, 236, 232);
}
.year-btn {
  scroll-snap-align: center;
  margin: 2rem 0;
   scroll-snap-align: center;
  min-height: 100%;
  width: 100%;
  max-width: clamp(14rem, 20vw, 18rem);
  aspect-ratio: 3 / 4;
  max-height: clamp(18rem, 30vh, 20rem); 
  border: none;
  border-radius: clamp(1.8rem, 4vw, 3rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: clamp(0.8rem, 1.5vw, 1.4rem);
  font-family: "Rubik Doodle Shadow", system-ui;
  color: white;
  background: radial-gradient(
    circle at center,
    #10252f 0%,
    #0d2029 35%,
    #0a1a22 60%,
    #06141b 80%,
    #030d12 100%
  );
transition: transform 0.35s ease, box-shadow 0.35s ease;
  transform-style: preserve-3d;
}

.buttonimg {
  width: 100%;
  height: clamp(100px, 12vw, 150px); 
  border-radius: clamp(1rem, 3vw, 2rem);
  object-fit: cover;
}



.buttonText {
  font-size: clamp(1.2rem, 2.2vw, 2.8rem);
  text-shadow:
    0 0 6px rgba(255,255,255,0.6),
    0 2px 10px rgba(0,0,0,0.8);
}
.year-btn:hover {
  transform:
    translateY(-8px)
    rotateX(6deg)
    scale(1.04);
    
}
.year {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  overflow-y: auto;    
  overflow-x: hidden; 
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  scrollbar-width: thin;        
  scrollbar-color: #C49952 transparent;
}

.year::-webkit-scrollbar {
  width: 6px;
}
.year::-webkit-scrollbar-thumb {
  background: linear-gradient(
    to bottom,
    #FFD88A,
    #C49952,
    #8C6A2E
  );
  border-radius: 10px;
}
.year-clip {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
.year-btn:hover .buttonimg {
  transform: scale(1.08);
  filter: brightness(1.1) saturate(1.2);
}
.year-btn:hover .buttonText {
  
  font-weight:590;
  transform: scale(1.08);
  text-shadow:
    0 0 6px rgba(196, 153, 82, 0.6),  
    0 0 14px rgba(196, 153, 82, 0.85), 
    0 0 28px rgba(255, 200, 120, 0.5); 
}
.typing-cursor {
  display: inline-block;
  margin-left: 5px;
  width: 4px;
  height: 1em;
  background: white;
  animation: blink 1s step-start infinite;
  vertical-align: bottom;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.placements-tab {
  position: absolute;
  top: clamp(12rem, 27vh, 18rem);
  left: clamp(1rem, 9vw, 20rem);
  width: clamp(18rem, 57vw, 104rem);
  height: clamp(20rem, 70vh, 70rem);
  border-radius: 6rem;
  background: rgba(0,0,0,0.2);
  overflow: hidden;
  z-index:3;
}
.placements-tab::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 6rem;
  border: 6px solid #C49952;
  clip-path: inset(0 0 100% 0);
  animation: borderDraw 1.3s ease-out forwards;
}

@keyframes borderDraw {
  from {
    clip-path: inset(0 0 100% 0); 
    opacity: 0;
  }
  to {
    clip-path: inset(0 0 0 0); 
    opacity: 1;
  }
}

.placements-tab::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 6rem;
  pointer-events: none;
  box-shadow: 0 0 0 rgba(255,255,255,0);
  animation: glowPulse 1.2s ease-out forwards;
  animation-delay: 1s; 
}


  </style>


<script client:load>

  document.addEventListener("DOMContentLoaded", () => {
      console.log("Placements page JS loaded");
      startAnimation();
     slider();
  });
  
  function startAnimation() {
  const text = "Placements";
  const text1 = "Select The Year";
document.querySelector(".year1tabs").innerHTML = ``;
document.querySelector(".yeartabs").innerHTML = ``;
document.querySelector(".acc1tabs").innerHTML = ``;
  console.log("Placements clicked - startAnimation()");
  document.querySelector(".Title-holders").innerHTML += `
    <div class="Placement-container"></div>
    <div class="Select-container"></div>
  `;
      
  let index = 0;
  let index1 = 0;

  const container = document.querySelector(".Placement-container");
  container.innerHTML += `
    <p class="heading-styler" > <span class="typed-text"></span><span class="typing-cursor"></span> </p>
  `;
 const paragraph = container.querySelector(".typed-text");
const cursor = container.querySelector(".typing-cursor");

  const container2 = document.querySelector(".Select-container");
  container2.innerHTML += `
    <p  class="heading-styler" ></p><div class="year-clip"><div class="year" ></div></div>
  `;
  const paragraph1 = container2.querySelector("p");

   function typeEffect() {
    if (index < text.length) {
      paragraph.textContent += text[index++];
      setTimeout(typeEffect, 100);
    }
    else if (index1 < text1.length) {
      paragraph1.textContent += text1[index1++];
      setTimeout(typeEffect, 35);
      
    }
    else
    {
        document.querySelector(".year").innerHTML += `
        <div class="year-list">
          <button id="one" class="year-btn" data-year="2024"><img class="buttonimg" src="/images/homePages/button22img.png"><p  class="buttonText" >2024</p></button>
          <button id="two" class="year-btn" data-year="2025"><img class="buttonimg" src="/images/homePages/button23img.png"><p  class="buttonText" >2025</p></button>
          <button id="three" class="year-btn" data-year="2026"><img class="buttonimg" src="/images/homePages/button24img.png"><p  class="buttonText" >2026</p></button>
  </div>
      `;
         document.querySelectorAll(".year-btn").forEach(btn => {
  btn.addEventListener("click", () => {
    const year = btn.dataset.year;

    if (year === "2024") next2024();
    else if (year === "2025") next2025();
    else if (year === "2026") next2026();
  });
});
    }
 }
  typeEffect();
  }

  function next2024() {
    document.querySelector(".Title-holders").innerHTML=``;
     document.querySelector(".acc1tabs").innerHTML = `
    <div class="container"></div>
  `;
    document.querySelector(".year1tabs").innerHTML = `<button class="acc222"  onclick="startAnimation()">&#8678;</button> <button class="acc222"  onclick="next2025()">&#8680;</button><button class="acc222"  onclick="startAnimation()" >X</button>`;
  titleEffecttabs("Placements - 2024");
}     
function next2025() {
   document.querySelector(".Title-holders").innerHTML=``;
    document.querySelector(".acc1tabs").innerHTML = `
    <div class="container"></div>
  `;
document.querySelector(".year1tabs").innerHTML = `<button class="acc222"  onclick="next2024()">&#8678;</button><button class="acc222"  onclick="next2026()">&#8680;</button> <button class="acc222"  onclick="startAnimation()" >X</button>`;
titleEffecttabs("Placements - 2025");
}
function next2026() {
   document.querySelector(".Title-holders").innerHTML=``;
    document.querySelector(".acc1tabs").innerHTML = `
    <div class="container"></div>
  `;
  document.querySelector(".year1tabs").innerHTML = `<button class="acc222"  onclick="next2025()">&#8678;</button><button class="acc222"  onclick="startAnimation()">&#8680;</button> <button class="acc222"  onclick="startAnimation()" >X</button>`;
titleEffecttabs("Placements - 2026");
}

function titleEffecttabs(text) {
  const container = document.querySelector(".container");
  container.innerHTML = `<p class="acctabstext"></p>`;

  const paragraph = container.querySelector("p");
  let index = 0;

  function type() {
    if (index < text.length) {
      paragraph.textContent += text[index++];
      setTimeout(type, 75);
    }
  }

  type();
}
function slider(){
const array = [
  `<div class="scrollpageimg-1" >
<img class="scrollpage1-img" src="/images/homePages/collegeslideintro.png" />
</div>`,
  `<img class="scrollpageimg-slides" src="/images/homePages/placements_2d_graph.png" /><p id="one" class="scrollpagetexts-highlight">Placement-Highlights</p><p class="summary">Over the last three graduating batches, the institute has maintained a strong and reliable placement record, Graduates from these batches have secured opportunities across a range of reputed IT firms, core industry organizations, and multinational companies, maintaining consistent industry trust in the institutes talent.
thanks to well-structured placement ecosystem, supported by structured training initiatives, practical skill development, and continued collaboration with industry partners.</p>`,
  `<img class="scrollpageimg-slides" src="/images/homePages/button22img.png" /><p id="one" class="scrollpagetexts-highlight">Placement-Highlights</p><p class="summary">The 2020-24 batch achieved consistent placement outcomes, with students securing roles across well-established IT service providers and industry-recognized organizations, such as TCS, Infosys, Wipro, Capgemini, along with other reputed firms, offering roles .offering roles aligned with student's technical and professional skill sets. With 45 out of 46 eligible students securing placements, the overall process reflected great effort by both department and students</p>`,
  `<img class="scrollpageimg-slides" src="/images/homePages/button23img.png" /><p id="one" class="scrollpagetexts-highlight">Placement-Highlights</p><p class="summary">The 2021-25 batch delivered strong  placement outcomes, Students secured roles across leading IT service providers  such as TCS, Infosys, Wipro, Accenture along with several other prominent firms. With 61 out of 62 students successfully placed, the placement process highlighted effective training initiatives, improved industry alignment, and sustained collaboration with recruiting partners.</p>`,
  `<img class="scrollpageimg-slides" src="/images/homePages/button24img.png" /><p id="one" class="scrollpagetexts-highlight">Placement-Highlights</p><p class="summary">The 2022-26 batch recorded stable  placement outcomes,  accommodating largest student intakes in department. Students secured opportunities across leading IT service providers and established organizations such as TCS, Infosys, Accenture, Cognizant, and Deloitte, along with other reputed recruiters. With 60 out of 63 students successfully placed, the placement process reflected great placement efforts by department and students</p>`
];

let index = 0;
let intervalId = null;

function start() {
  if (intervalId !== null) return; 

  intervalId = setInterval(() => {
    index = (index + 1) % array.length;
     if(index===0){
    page.innerHTML = array[index];
    page.classList.remove("fade-out");
    }
    else{
    page.innerHTML = array[index];
    page.classList.remove("fade-out");
  }updateDots(index);}, 6000);
}
const dots = document.querySelectorAll(".dot");
function updateDots(activeIndex) {
  dots.forEach((dot, i) => {
    dot.classList.toggle("active", i === activeIndex);
  });
}
function stop() {
  
  clearInterval(intervalId);
  intervalId = null; 
}

const forward = document.querySelector(".button-tab1");
const backward = document.querySelector(".button-tab");
const page = document.querySelector(".scroll-page1");

start();
forward.addEventListener("click", () => {
  page.classList.add("fade-out");

  setTimeout(() => {
    index = (index + 1) % array.length;
    if(index===0){
    page.innerHTML = array[index];
    page.classList.remove("fade-out");
    }
    else{
    page.innerHTML = array[index];
    page.classList.remove("fade-out");
  }updateDots(index);}, 300);
});

backward.addEventListener("click", () => {
  page.classList.add("fade-out");

  setTimeout(() => {
    index = (index - 1 + array.length) % array.length;
     if(index===0){
    page.innerHTML = array[index];
    page.classList.remove("fade-out");
    }
    else{
    page.innerHTML = array[index];
    page.classList.remove("fade-out");
  }updateDots(index);}
, 300);
});

const container = document.querySelector(".year");

container.addEventListener("mouseenter", (e) => {
  stop();
  if (e.target.matches(".year-btn")) {
    console.log("hover in", e.target.id);
    if(e.target.id==="one")
    { clearInterval(intervalId);
       page.classList.add("fade-out");
        setTimeout(() => {
    page.innerHTML=array[2];
    page.classList.remove("fade-out");
  updateDots(2);}, 300);
     
    }
    else if(e.target.id==="two")
    {
          page.classList.add("fade-out");
        setTimeout(() => {
    page.innerHTML=array[3];
    page.classList.remove("fade-out");
 updateDots(3); }, 300);
    }
       else if(e.target.id==="three")
    {
          page.classList.add("fade-out");
        setTimeout(() => {
    page.innerHTML=array[4];
    page.classList.remove("fade-out");
  updateDots(4);}, 300);
    }
  }
}, true);

container.addEventListener("mouseleave", (e) => {
  start();
  if (e.target.matches(".year-btn")) {
    console.log("hover out", e.target.id);
      if(e.target.id==="one")
    {
           page.classList.add("fade-out");
        setTimeout(() => {
           if(index===0){
    page.innerHTML = array[index];
    page.classList.remove("fade-out");
    }
    else{
    page.innerHTML=array[index];
    page.classList.remove("fade-out");
  }updateDots(index);}, 300);
     
    }
    else if(e.target.id==="two")
    {
            page.classList.add("fade-out");
        setTimeout(() => {
    page.innerHTML=array[index];
     if(index===0){
    page.innerHTML = array[index];
    page.classList.remove("fade-out");
    }
    else{
    page.classList.remove("fade-out");
  }updateDots(index);}, 300);
     
    }
       else if(e.target.id==="three")
    {
             page.classList.add("fade-out");
        setTimeout(() => {
    page.innerHTML=array[index];
     if(index===0){
    page.innerHTML = array[index];
    page.classList.remove("fade-out");
    }
    else{
    page.classList.remove("fade-out");
  }updateDots(index);}, 300);
     
    }
  }
}, true);

}
</script>

<script is:inline>

  window.STAR_CONFIG = {
    count: 800,
   color: "255, 180, 50",
    shootingStars: 0,
    speedMultiplier: 0.5
  };
</script>
<script src="/stars.js" defer></script>
</Layout>

<Footer /> 